[submodule ".registry"]
	path = .registry
	url = https://github.com/ocean-tracking-network/ocean-tracking-network.r-universe.dev
	branch = HEAD
[submodule "RSP"]
	path = RSP
	url = https://github.com/yuriniella/RSP
[submodule "TelemetrySpace"]
	path = TelemetrySpace
	url = https://github.com/meganwinton/TelemetrySpace
[submodule "actel"]
	path = actel
	url = https://github.com/hugomflavio/actel
[submodule "aniMotum"]
	path = aniMotum
	url = https://github.com/ianjonsen/aniMotum
[submodule "crawl"]
	path = crawl
	url = https://github.com/NMML/crawl
	branch = devel
	registered = false
[submodule "diveMove"]
	path = diveMove
	url = https://github.com/spluque/diveMove
[submodule "glatos"]
	path = glatos
	url = https://github.com/ocean-tracking-network/glatos
[submodule "matos"]
	path = matos
	url = https://github.com/mhpob/matos
[submodule "miscYAPS"]
	path = miscYAPS
	url = https://github.com/robertlennox/miscYAPS
[submodule "momentuHMM"]
	path = momentuHMM
	url = https://github.com/bmcclintock/momentuHMM
[submodule "mort"]
	path = mort
	url = https://github.com/rosieluain/mort
[submodule "moveHMM"]
	path = moveHMM
	url = https://github.com/TheoMichelot/moveHMM
[submodule "movepub"]
	path = movepub
	url = https://github.com/inbo/movepub
[submodule "otndo"]
	path = otndo
	url = https://github.com/mhpob/otndo
[submodule "pathroutr"]
	path = pathroutr
	url = https://github.com/jmlondon/pathroutr
	registered = false
[submodule "remora"]
	path = remora
	url = https://github.com/imos-AnimalTracking/remora
[submodule "rnaturalearthhires"]
	path = rnaturalearthhires
	url = https://github.com/ropensci/rnaturalearthhires
	registered = false
[submodule "rvdat"]
	path = rvdat
	url = https://github.com/mhpob/rvdat
[submodule "splusTimeDate"]
	path = splusTimeDate
	url = https://github.com/spkaluzny/splusTimeDate
	registered = false
[submodule "splusTimeSeries"]
	path = splusTimeSeries
	url = https://github.com/spkaluzny/splusTimeSeries
	registered = false
[submodule "sporeg"]
	path = sporeg
	url = https://github.com/mebowers5/sporeg
[submodule "surimi"]
	path = surimi
	url = https://github.com/ocean-tracking-network/surimi
[submodule "telemetar"]
	path = telemetar
	url = https://github.com/mhpob/telemetar
[submodule "wcUtils"]
	path = wcUtils
	url = https://github.com/noaa-afsc/wcUtils
[submodule "yaps"]
	path = yaps
	url = https://github.com/baktoft/yaps
